.auth-container, .auth-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-container {
    padding-inline: 70px;
    padding-block: 50px;
    background-color: rgba(50, 13, 99, 0.801);
    border: 1px solid rgb(185, 216, 235);
    border-radius: 20px;
  }
}

.auth-form {
  gap: 20px;
}

.form-header {
  font-size: 2rem;
  margin-block: 0px 30px;
}

.submit-button {
  color: rgb(104, 18, 184);
  background-color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  height: 35px;
}

.submit-button:hover {
  background-color: rgb(225, 225, 241);
}

.submit-button:focus {
  background-color: rgb(225, 225, 241);
  outline: solid rgb(104, 18, 184);
  outline-offset: 4px;
}
